<ion-view title="vr_mode" style="z-index:0;">
 
  <a-scene style="z-index:100;">
      <a-sky id="myThing" src="{{lastPhoto}}" ng-src="{{lastPhoto}}" rotation="0 -130 0"></a-sky>
    </a-scene>

</ion-view>

<!--<script type="text/javascript">
var timer;
var timeVisible = 5000;
timeFadeout();

function timeFadeout() {
    timer = setTimeout(function() {
        $('.controls').fadeOut();          
    }, timeVisible );
}

$('html').click(function() {
    clearTimeout(timer);
    if ($('.controls:visible').length) {
        $('.controls').fadeOut();
    }
    else {
        $('.controls').fadeIn();
        timeFadeout();
    }
});
</script>-->